*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: hsl(0, 0%, 86%);
    font-family: 'Poppins', sans-serif;
}

.input-wrapper {
    margin: 5% auto;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 4rem;
}

input {
   font-weight: 700;
   font-size: 30px;
   
}

label {
    letter-spacing: 0.2rem;
	font-size: 0.9rem;
	font-weight: 700;
	margin-bottom: 0.3rem;
    color: hsl(0, 1%, 44%);
}

