*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    font-family: 'Poppins', sans-serif !important;
    place-items: center;
    overflow: hidden;
    height: 100vh;
	width: 100vw;
	display: grid;
    background-color: hsl(0, 0%, 94%) !important;
}

form {
    margin: 1rem;
    padding: 3rem;
    background-color: hsl(0, 0%, 100%) ; 
    flex-direction: column;
    border-radius: 1rem 1rem 5rem 1rem;
}

.input-wrapper {
    place-content: center;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    gap: 2rem;
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 5rem;
}

input {
   font-weight: 700;
   font-size: 80px;
   padding: 5%;
   text-transform: uppercase;
}

input:hover, input:active {
    border: 1px solid hsl(259, 100%, 65%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
    letter-spacing: 0.2rem;
	font-size: 0.9rem;
	font-weight: 700;
	margin-bottom: 0.3rem;
    color: hsl(0, 1%, 44%);
}

small {
    font-size: 10px;
    color: red;
}

.seperator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

hr {
   border: 1px solid hsl(0, 0%, 86%); 
   width: 100%;
   height: 1px;
}

#btn {
    background-color: hsl(259, 100%, 65%);
    border-radius: 100%;
    height: 3.5rem;
    width:max-content;
    border:none;
    position: absolute;
    left: 45%;
}

#btn:hover {
    background-color: hsl(0, 0%, 8%);
}

.output {
place-content: center;
}

.output span {
    color: hsl(259, 100%, 65%);
    margin-right: 5%;
    font-weight: 800;
    font-style: italic;
}

.output {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 3rem;
}

@media (min-width:1440px) {

    form {
        width: 60vw;
        height: 80vh;
    }
    
    .input-wrapper {
        justify-content: stretch;
        margin: 5% 3%;
    }

    .input-field {
        margin-left: 4%;
        width: 7rem;
    }

    input {
        font-size: 40px;
    }


    #btn {
        left: 70%;
        width: 5rem;
        height: 5rem;
    }

    .output p {
        font-size: 5rem;
    }


}